* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    /* Background image by Rafael de Nadai */
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

footer {
    height: 100px;
    text-align: center;
    background-color: lightgray;
    color: white;
    padding: 10px;
}

.push {
    height: 100px;
}

main {
    min-height: 100%;
    margin-bottom: -100px;
}

h1 {
    color: white;
    font-family: Georgia;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    line-height: 22 px;
    color: black;
}

ul {
    line-height: 25px;
}

.typewriter {
    text-align: justify;
    font-family: Georgia;
}

.icon {
    height: 50px;
    width: 50px;
}

.container {
    width: 70%;
    margin: 0px auto;
}

.scroll {
    scroll-behavior: smooth;
}

#header {
    background-color: darkblue;
}

#about {
    font-family: 'Arial Narrow';
    text-align: left;
    min-height: 20px;
    padding: 5px;
    background-image: url("/assets/images/background.jpg");
}

#contact {
    text-align: center;
    font-family: serif;
    min-height: 20px;
    padding: 5px;
    background-color: darkblue;
    background: linear-gradient(darkblue, whitesmoke);
}

#headshot {
    display: block;
    margin: 0px auto;
}

h1:hover {
    font-style: normal;
}

p:hover {
    font-style: italic;
}

a:hover {
    font-size: 20px;
}

img:hover {
    border-color: black;
    transform: scale(1.1);
}